
Backend/EEPROMWriteReadAnything/.pio/

Backend/Left_Slave_Test/.pio/

Backend/Right_Master_Test/.pio/

Backend/EEPROMWriteReadAnything/.vscode/

Backend/Left_Slave_Test/.vscode/

Backend/Right_Master_Test/.vscode/
